.tt {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  &__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;

    &--animate {
      touch-action: none;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
      transition: transform 200ms ease-out;
    }
  }

  &__slide {
    width: 100vw;
    padding: 2em;
    flex-shrink: 0
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;

    &-wrapper {
      list-style: none;
      margin: 10px;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-segment {
      position: relative;
      flex-grow: 1;
      height: 3px;
      margin-right: 5px;
      background-color: rgba(255, 255, 255, .5);
      border-radius: 5px;
      width: 0%;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: white;
        transform-origin: left;
        transition: width .25s ease;
      }

      &--active:after {
        width: 100%;
      }
    }
  }

  &__hint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,.75);
    color: white;
    display: none;

    &--visible {
      display: flex;
      animation: fade-in .25s ease;
    }

    @keyframes fade-in {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;

      &--back {
        border-right: 2px dashed white;
        width: calc(100% / 3 * 1);
      }

      &--next {
        width: calc(100% / 3 * 2);
      }
    }

    &-block {
      display: block;
      text-align: center;
    }
  }

  &__arrow {
    display: block;
    line-height: 4em;

    @mixin arrow() {
      content: '';
      vertical-align: middle;
      border: solid white;
      border-width: 0 .25em .25em 0;
      display: inline-block;
      padding: .75em;
    }

    &--back {
      &:after {
        @include arrow();
        margin-right: -.75em;
        transform: rotate(135deg);
      }
    }

    &--next {
      &:after {
        @include arrow();
        margin-left: -.75em;
        transform: rotate(-45deg);
      }
    }
  }
}
