.tt {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  &__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;

    &--animate {
      touch-action: none;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
      transition: transform 200ms ease-out;
    }
  }

  &__slide {
    width: 100vw;
    padding: 2em;
    flex-shrink: 0
  }

  &__progress {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;

    &-wrapper {
      list-style: none;
      margin: 10px;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-segment {
      position: relative;
      flex-grow: 1;
      height: 3px;
      margin-right: 5px;
      background-color: rgba(255, 255, 255, .5);
      border-radius: 5px;
      width: 0%;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: white;
        transform-origin: left;
        transition: width .25s ease;
        z-index: -1;
      }

      &--active:after {
        width: 100%;
      }
    }
  }
}
